#body {
	background: #000 url(../images/siliconValley.jpg) no-repeat;
	background-size: cover;
}

.container {
	height: 168px;
	width: 800px;
	background-color: #fff;
	position: relative;
	margin-bottom: 10px;
	background-color: transparent;
}

.label {
	color: #fff;
	font-size: 16px;
}

.img-container {
	width: 196px;
	height: 165px;
	float: left;
	border:  2px solid;
	position: relative;
	text-align: center;
	background-color: #fff;
}

.green {
	border-color: #66ff66;
}

.red {
	border-color: #000;
	background-color: red;
}

.character-img {
	width: 150px;
    height: 115px;
    position: absolute;
    left: 23px;
    top: 20px;
}

.character-name {
	position: absolute;
	top: 0;
	width: 100%;
}

.character-hp {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.chosen-hp {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.defender-hp {
	position: absolute;
	bottom: 0;
	width: 100%;
}



#enemy-row {
	display: none;
}

#restart {
	display: none;
}

#chosen-erlich {
	display: none;
}

#chosen-dinesh {
	display: none;
}

#chosen-gilfoyle {
	display: none;
}

#chosen-gavin {
	display: none;
}

#current-opponent {
	display: none;
}

#chosen {
	display: none;
}
